*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.back-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    height: 85%;
    background-color:white;
}
.frame{
    width: 100%;
    height:100%;
    border-radius: 30px;
    background-color:rgb(88, 86, 86);
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}
.frame>input{
    border-radius: 5px;
    height: 60px;
    width:90%;
    margin-bottom: 15px;
    text-align: right;
    border: 0px gray none;
    background-color: gray;

}
::placeholder{
    font-size: 40px;
    color:black;
    
}
table{
    border-spacing: 15px;
}
td{
    border-radius: 5px;
    background-color: white;
    color:black;
    text-align: center;
    padding: 8px 8px; 
    box-shadow: 0px 6px whitesmoke;
    width: 35px;  
}
button{
    width: 35px;
    background-color: white;
    color: black;
    border: 0px white none;
    font-size: 30px;
    text-align: center;
    font-weight: 600;

}
.equal-sign{
    background-color: orange;
    box-shadow: 2px 3px orange;
}
.butt{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: flex-start;
    height: 80%;
    width: 100%;
    padding-left: -20px;
}

#repo{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#repo>a{
    padding-left: 50px;
    font-size: larger;
    color: white;
}
#repo>h3{
    color: white;
}


